body{
  margin: 0;
  background: rgba(15, 14, 14, 0.993);
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700;
}
header{
  background: rgb(0, 0, 0);
}

header::after{
  content: '';
  display: table;
  clear: both;
}

nav{
  float: right;
}

.logo{
  float: left;
  width:150px;
  height:60px;
  padding-top: 10px
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li{
  display: inline-block;
  margin-left: 15px;
  padding-left: 0px;
  padding-top: 20px;
  padding-right: 5px;
  position: relative;
}

a.button{
  color:rgba(230, 223, 223, 0.98);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
}

a.sign-in{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid rgba(230, 223, 223, 0.98);
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:rgba(230, 223, 223, 0.98);
  text-align:center;
  transition: all 0.2s;
}

a.sign-in:hover{
  color:#000000;
  background-color:rgba(230, 223, 223, 0.98);
  }

@media all and (max-width:30em){
  a.sign-in {
  display: block;
  margin: 0.4em auto;
  }
}

a.button:hover{
  color: rgba(230, 223, 223, 0.98);
}

a.button::before{
  content: '';
  display: block;
  height: 5px;
  width: 100%;
  background-color: rgba(230, 223, 223, 0.98);

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;

}

a.button:hover::before{
  width: 100%;
}

.container-fluid{
  width: 100%;
  margin: 0 auto;
}


.jumbotron{
  /* background-image: url(../images/interior.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}

.intro{
  height: 100%;
}

.intro h1{
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700px;
  font-size: 115px;
  padding-top: 10px;
  padding-left: 25px;
  line-height: 90px;
  color: white;
  -webkit-text-fill-color: rgba(19, 18, 18, 0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 136, 0);
}

.intro h2{
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700px;
  font-size: 35px;
  line-height: 35px;  
  color:  rgba(230, 223, 223, 0.89);
}

.result-values h2{
  padding-top: 30px;
  padding-left: 30px;
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700px;
  font-size: 20px;
  line-height: 35px;  
  color:  rgba(230, 223, 223, 0.89);

}

.submissions{
  /* padding-left: 30px; */
  font-family: 'Nanum Myeongjo', serif;
  font-weight: 700px;
  /* display: inline-block; */
  /* position: relative; */
  padding-left: 30px;
  font-size: 15px;
  font-weight: normal;
  padding-inline-start: center;
  color:  rgba(230, 223, 223, 0.98);
}

input[type=text], select, textarea {
  width: 30%; /* Full width */
  padding: 15px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /*Make sure that padding and width stays in place
  margin-top: 3px; /* Add a top margin */
  margin-bottom: 10px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: rgba(230, 223, 223, 0);
  border-color: rgb(230, 223, 223);
  transition: all ease-in-out 250ms;
  color: white;
  padding: 12px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgba(230, 223, 223, 0.98);
  color: black;
}


