<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>HomeSlice</title>
  
    <!-- Bootstrap CDN -->    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">
    <script src="../static/dynamic.js"></script>
   <script src="../static/typed.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>

<body>
   <!-- <div id="preloader">
      <div id="load"></div>
    </div>   -->
   <section class="navbar">
      <header>
         <div class="container-fluid">
            <div class="row no-gutters">
               <img src="../static/images/img.png" alt="logo" class="logo" href="#home">
               <nav>
                  <ul>
                     <li><a href="/index.html" class="button">Home</a></li>
                     <li><a href="/about.html" class="button">About</a></li>
                     <li><a href="/contact.html" class="button">Contact</a></li>
                     <li><a href="/signupform.html" class="sign-in">Sign Up</a></li>
                     <li><a href="/login.html" class="sign-in">Login</a></li>
                  </ul>
               </nav>
            </div>        
         </div>
      </header>
   </section>

    <!-- <section id="intro" class="intro">
       <div class="slogan"> -->
   <section class="intro">
      <div class="container-fluid">
         <div class="jumbotron">
            <div id="typed-string">
               <h1>Welcome to HomeSlice.<span id="typed"></span></h1>
               <h2>Unlock your home equity today.</h2>
               <br>
               <div class = "row">
                     <div class="col-md-12">
                        <form action="#" method="post" class="submissions">
                           <label for="fname">Address:</label>
                           <input type="text" id="fname" name="address">
                           <label for="lname">Zip Code:</label>
                           <input type="text" id="lname" name="zipcode">
                           <input type="submit" value="Submit" class="submit" onClick="jumpScroll()">
                        </form>
                     </div>                             
               </div>
         </div>
      </div>
      </div>
   </section>

   <section class="result-values">
      <div class="container-fluid">
         <div class="jumbotron">
            <div class="equity-value">
            <div class="row">
               <div class="col-md-12">
                  <!-- <p>Return Values here</p> -->
                  <h2>Home Value: {{data[0]}} </h2>
                  <h2>Cash Avail Today: {{data[1]}} </h2>

                  <!-- <table></table> -->
               </div>
               </div>
            </div>
         </div>
      </div>
   </section>
</body>


</html>

