<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>About</title>
  
    <!-- Bootstrap CDN -->    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- <script src="../static/submission-form.js"></script> -->
  </head>

<body>
   <section class="navbar">
      <header>
         <div class="container-fluid">
            <div class="row no-gutters">
               <img src="../static/images/img.png" alt="logo" class="logo" href="#home">
               <nav>
                  <ul>
                     <li><a href="/index.html" class="button">Home</a></li>
                     <li><a href="/about.html" class="button">About</a></li>
                     <li><a href="/contact.html" class="button">Contact</a></li>
                     <li><a href="/signup.html" class="sign-in">Sign Up</a></li>
                     <li><a href="/login.html" class="sign-in">Login</a></li>
                  </ul>
               </nav>
            </div>        
         </div>
      </header>
   </section>



</body>
</html>

